body {
	margin: 0 auto;
	padding: 0;
}
.outer {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	max-width: 300px;
	padding-bottom: 100px;
}

.post > form {
	display: inline;
}

form {
	display: inline;
}

.cancel {
	display: inline;
}

.title {
	color: rgb(0, 136, 178);
}

h5 {
	color: rgb(248, 158, 93);
}
.post {
	margin: 50px 0 0 0;
}
/*body {
	margin-top: 50px;
	margin-left: 50px;
}

.title {
	color: red;
	max-width: 24em;
	margin-bottom: 50px;
}

form {
	margin-bottom: 0 !important;
	display: inline-block;
}

.edit-form > form > textarea {
	display: block;
}

.new-form > form > textarea {
	display: block;
}
.content {
	width: 500px;
	word-wrap: break-word;
	margin-bottom: 20px;
}

.new-post {
	margin-bottom: 50px;
}

.post {
	margin-top: 50px;
}

.search > form > input {
	display: inline-block;
}

.containor {
	margin-top: 
}*/